<!--cirlce partial for use in other templates-->
<a href={{link}}>
  <svg class="pie" viewbox="-10 -10 120 120">
    <circle cx="50" cy="50" r="50"></circle>
    <path d="{{path}}"></path>
    <text id="percentage" x="50" y="50" text-anchor="middle" alignment-baseline="middle">{{percent}}</text>
    <text id="label" x="50" y="65" text-anchor="middle" alignment-baseline="middle">{{title}}</text>
  </svg>
</a>