<div id="total-container">
      
  <header>

    <a id="logo-container">
      <img id="header-logo" src="images/logo-white.png">
      <p id="logo-title">Productive.</p>
    </a>

    <form id="header-search-form">
      <input id="search-bar" type="text" placeholder=" Search">
      <input id="search-button" type="submit" value="Go">
    </form>

    <div id="account-details-container">
      <label>account name</label>
      <img src="images/account.png" id="account-image">
    </div>

  </header>

  <div id="under-header">

    <nav>

      <a href="dashboard.html"><div class="nav-element">
        <img class="nav-icon">
        <lable>Dashboard</lable>
      </div></a>

      <a href="schedule.html"><div class="nav-element">
        <img class="nav-icon">
        <lable>Schedule</lable>
      </div></a>

      <a href="goals.html"><div class="nav-element">
        <img class="nav-icon">
        <lable>Goals</lable>
      </div></a>

      <a href="create.html"><div class="nav-element">
        <img class="nav-icon">
        <lable>Create</lable>
      </div></a>

      <footer id="nav-footer">
        Copyright stuff @ 2019
      </footer>

    </nav>

    <div id="header-main">