<h2>Today's tasks:</h2>
<div class="circle-list-container">

  <div class="circle" id="today-circle">
    {{> circle todayCircle}}
  </div>
  <div class="checklist" id="today-checklist">
    {{> form todayChecklist}}
  </div>

</div>