html, body{
  height: 100%;
  min-height: 100%;
  margin: 0; padding: 0;
  overflow: hidden;
}
body{
  text-align: center;
  font-family: sans-serif;
}
#bg-img{
  height: 100%;
  background-image: url(images/home-splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  filter: brightness(80%) blur(8px);
}
#content-container{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(20,20,100, 0.5); /* Black w/opacity/see-through */
  border: 1px solid rgb(50,50,100);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 2em;
  text-align: center;
  border-radius: 20px
  
}
h1, h2{
  color: white;
  margin: 0;
}
h1{
  font-size: 5em;
  text-shadow: 2px 2px black;
}
h2{
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  color: lightgray
}
input{
  font-size: 1.2em;
  width: 10em;
  border: none;
  background-color: white;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 0.2em;
}
.OAuth{
  width: 4.7em;
  margin-left: 0.15em;
  margin-right: 0.15em;
}