main{
  width: 100%; min-height: 100%;
  
  display: flex;
  flex-direction: row;
}

article{
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
}



#today-section{
  min-height: 25em;
  background-color: darkgreen;
  max-height: 30em;
  
  display: flex;
  flex-direction: column;
}

#projects-section{
  background-color: lightslategray;
  
  flex-grow: 1;
  
  margin-top: 0;
}


section, aside{
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  
}

aside{
  background-color: darkblue;
  min-width: 200px;
  margin-left: 0;
  
  display: flex;
  flex-direction: column;
}

.circle-list-container{  
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#projects-container{
  display: flex;
  flex-direction: column;
  
}

.circle{
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 20em;
  min-width: 5em;
  padding: 0.5em;
  align-self: center;
}
.checklist{
  font-size: 2em;
  color: white;
  margin-left: 2em;
  padding: 0 1em;
  
  flex: 0 1 auto;
  overflow: auto;
  
}

.goal{
  text-decoration: underline;
}

.goal-task{
  margin-left: 2em;
}

h2{
  text-decoration: underline;
  font-size: 2em;
  color: white;
  padding: 0;
  margin: 0;
}

