main{
  width: 100%; min-height: 100%;
  
  display: flex;
  flex-direction: row;
}

article{
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
}



#today-section{
  min-height: 25em;
  background-color: darkgreen;
  max-height: 30em;
  
  display: flex;
  flex-direction: column;
}

#projects-section{
  background-color: lightslategray;
  
  flex-grow: 1;
  
  margin-top: 0;
}


section, aside{
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  
}

aside{
  background-color: darkblue;
  min-width: 200px;
  margin-left: 0;
  
  display: flex;
  flex-direction: column;
}


