main{
  width: 100%; min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

section{
  box-sizing: border-box;
  margin: 0.5em 1em;
  padding: 1em;
  background-color: white;
  min-height: 30vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.circle{
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 20em;
  min-width: 5em;
  padding: 0.5em;
  align-self: center;